/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Space Mono", monospace;
  border: none;
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background-color: #c5e4e7;
  text-align: center;
}
.header img {
  padding: 50px 144px;
}
.container {
  padding: 32px;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 23.7px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #5e7a7d;
  margin-bottom: 6px;
}

.container-top {
  display: flex;
  align-items: center;
  background-color: #f3f9fa;
  padding-block: 6px;
  padding-inline: 17px;
  border-radius: 5px;
  margin-bottom: 32px;
}

#dolorInput {
  border: none;
  width: 100%;
  background-color: #f3f9fa;
  text-align: right;
  font-size: 24px;
  font-weight: 700;
  line-height: 35.54px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #00474b;
  outline: none;
}
#dolorInput::placeholder {
  font-size: 24px;
  font-weight: 700;
  line-height: 35.54px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #547878;
}

.select-tip-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 32px;
}

.tipBtn {
  background-color: #00474b;
  color: white;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
  line-height: 35.54px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 6px 17px;
  border: none;
}

.tipBtn:hover {
  background-color: #26c2ae;
  color: #00474b;
}

.select-tip-grid input {
  border: none;
  background-color: #f3f9fa;
  text-align: right;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
  line-height: 35.54px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #00474b;
  width: 100%;
  outline: none;
}

.select-tip-grid input::placeholder {
  font-size: 24px;
  font-weight: 700;
  line-height: 35.54px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #547878;
}

.people-input {
  display: flex;
  align-items: center;
  background-color: #f3f9fa;
  padding-block: 6px;
  padding-inline: 17px;
  border-radius: 5px;
  margin-bottom: 32px;
  justify-content: space-between;
}

.people-input i {
  color: #9ebbbd;
}
#peopleInput {
  border: none;
  background-color: #f3f9fa;
  text-align: right;
  border-radius: 5px;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  line-height: 35.54px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #00474B;
  outline: none;
}
#peopleInput::placeholder {
  font-size: 24px;
  font-weight: 700;
  line-height: 35.54px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #547878;
}

.footer {
  background-color: #00474b;
  border-radius: 15px;
  padding: 37px 24px;
}
.tip-amount h2 {
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 23.7px;
  text-align: left;
  color: white;
}

.tip-amount p {
  font-family: Space Mono;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.25px;
  text-align: left;
  color: #7f9d9f;
}

.pricing p {
  font-size: 32px;
  font-weight: 700;
  line-height: 47.39px;
  letter-spacing: -0.6666666865348816px;
  color: #26c2ae;
}
.tip-amount-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.tip-amount-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.resetbtn {
  font-size: 20px;
  font-weight: 700;
  line-height: 29.62px;
  text-align: center;
  color: #00474b;
  background-color: #26c2ae;
  border-radius: 5px;
  padding: 9px 32px;
  width: 100%;
  border: none;
}

.resetbtn:hover {
  background-color: #9FE8DF;
}

.generally-content {
  padding: 3px;
}
.number-people {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.error {
  color: #E17457;
font-size: 16px;
font-weight: 700;
line-height: 23.7px;
text-align: right;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-bottom: 6px;
display: none;

}

@media only screen and (min-width: 1200px) {
  .generally-content {
    display: flex;
    gap: 48px;
  }

  .container {
    width: 920px;
    height: 481px;
    top: 304px;
    left: 260px;
    border-radius: 25px;
    margin: 0 auto;
    padding: 32px;
  }

  .header img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 163px;
    padding: 0px;
    margin-bottom: 88px;
  }
  .footer {
    width: -webkit-fill-available;
    padding: 40px;
  }

  .bill-content {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

 .bill-content > div:last-child {
  margin-bottom: 0px;
 }
  body {
    background-color: #c5e4e7;
  }
  .resetbtn {
    margin-top: 133px;
  }

  .pricing p {
    font-size: 48px;
    font-weight: 700;
    line-height: 71.09px;
    letter-spacing: -1px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .tip-amount-top {
    margin-bottom: 25px;
  }
  .select-tip {
    margin-bottom: 40px;
  }

  .select-tip-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 14px;
  }
  .container-top {
    margin-bottom: 40px;
    margin-top: 13px;
  }
  .select-tip-grid button {
    padding: 6px 14px;
  }
}
